.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
  position: relative;
}

.cell {
  background: #fff;
  border-radius: 8px;
  height: 200px;
  width: 200px;
  color: #333;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.draggable {
  background: #ccc;
  height: 180px;
  width: 180px;
  border-radius: 8px;
  position: absolute;
  cursor: grab;
  z-index: 1;
  transition: background 0.3s ease;
}

.draggable:hover {
  background: #ddd;
}

.target {
  background-color: black;
  width: 500px;
  height: 500px;
  position: absolute;
}