.battle-container {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: space-between;
}

.player-container {
    height: 50%;
}

.player2-container {
    height: 30%;
    display: flex;
    flex-direction: column-reverse;
}

.results-container {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.animate__animated {
    height: 80%;
}

.animate__animated.player1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.animate__animated.hide>.dice {
    display: none;
}

.player2 .animate__animated {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.battle-dices-inputs {
    height: 20%;
}

.battle-dices-inputs.player1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.player2 .battle-dices-inputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.battle-dices-input-buttons {
    margin: 0 10px;
}