.battle-container {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
    height: 100vh;
}

.player-container {
    height: 35%;
}

.player2-container {
    height: 25%;
    display: flex;
    flex-direction: column-reverse;
}

.results-container {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.results-container img.hide {
    display: none;
}

.results-container img.show {
    display: block;
}

.playersDices {
    height: 65%;
}

.animate__animated.player1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.animate__animated.hide>.dice {
    display: none;
}

.player2 .animate__animated {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.battle-dices-inputs {
    height: 20%;
}

.battle-dices-inputs.player1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.player2 .battle-dices-inputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.battle-dices-input-buttons {
    margin: 0 10px;
}

.show-card {
    display: block;
    height: fit-content;
    margin: 5px;
}

.hide-card {
    display: none;
}

.animate__tada {
    animation-duration: 1s;
}

.results-inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

.results-card {
    border: 5px solid;
    border-radius: 13px;
    height: 251px;
    width: 173px;
}

.results-score-container h1 {
    font-size: 40px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 700px;
    overflow: hidden auto;
    padding: 0 0 5% 5%;
}

.player-card-container {
    border: 5px solid;
    border-radius: 10px;
    margin: 55px 55px 0 0;
    width: fit-content !important;
    height: fit-content;
}

.round-counter {
    position: absolute;
    right: 25px;
}

.cards-modal-button-container {
    margin-top: 20px;
}